Assignment2/Connected Services/HeuristicALB/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alb-617382799.us-east-1.elb.amazonaws.com/HeuristicWCFS/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllocatedRuntimes" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Energies" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InvalidAllocations" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="NumberOfProcessors" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTasks" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TaskRuntimes" nillable="true" type="q4:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigData" nillable="true" type="tns:ConfigData" />
  <xs:complexType name="AllocationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Energy" type="xs:double" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Map" nillable="true" type="q5:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllocationData" nillable="true" type="tns:AllocationData" />
  <xs:complexType name="TimeoutFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeoutFault" nillable="true" type="tns:TimeoutFault" />
</xs:schema>