Assignment2/Connected Services/GreedyAlgorithm/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50398/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSLibrary" />
  <xs:element name="GetAllocationsGreedy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deadline" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSLibrary" minOccurs="0" name="cd" nillable="true" type="q1:ConfigData" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllocationsGreedyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSLibrary" minOccurs="0" name="GetAllocationsGreedyResult" nillable="true" type="q2:AllocationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>